{% extends 'base.html' %}
{% load static %}
{% block title %} Detail {% endblock %}
{% block content %}
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">
                Detail Terima Barang
            </div>
        </div>
        <div class="card-body">
            <table class="table text-nowrap table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="col-4 text-center">No. Terima</th>
                    <th scope="col" class="col-4 text-center">Tanggal</th>
                    <th scope="col" class="col-4 text-center">Preorder</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.nomor_terima }}</td>
                    <td>{{ object.tanggal }}</td>
                    <td>{{ object.preorder }}</td>
                </tr>
                </tbody>
            </table>

            <table class="table text-nowrap table-bordered mt-5">
                <thead>
                <tr>
                    <th class="text-center" colspan="3">Detail Terima Barang</th>
                </tr>
                <tr>
                    <th scope="col" class="col-1 text-center">No.</th>
                    <th scope="col" class="col-6 text-center">Kode Barang</th>
                    <th scope="col" class="col-5 text-center">Jumlah Diterima</th>
                </tr>
                </thead>
                <tbody>
                {% for detail in details %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ detail.kode_barang }}</td>
                        <td>{{ detail.qty_terima }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}